# Python Collections (Arrays)
There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered** and changeable. No duplicate members.

# 3.Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Example:

Create a Tuple:

tuple = ("apple", "banana", "cherry")
print(tuple)

* Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

* Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

* Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

* Allow Duplicates
Since tuples are indexed, they can have items with the same value:

Tuples allow duplicate values: Example

In [2]:
tuple = ("apple", "banana", "cherry", "banana")
print(tuple)

('apple', 'banana', 'cherry', 'banana')

* Tuple Length
 
To determine how many items a tuple has, use the len() function:

In [3]:
tuple = ("apple", "banana", "cherry", "banana")
print(len(tuple))

4

* Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

One item tuple, remember the comma:

In [4]:
tuple = ("apple",)
print(type(tuple))

<class 'tuple'>

#NOT a tuple
tuple = ("apple")
print(type(tuple))

* Tuple Items - Data Types

Tuple items can be of any data type:

# String, int and boolean data types:

In [6]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

# A tuple can contain different data types:
A tuple with strings, integers and boolean values:

In [7]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

* type()

From Python's perspective, tuples are defined as objects with the data type 'tuple':

data type of a tuple

In [8]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

* The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple.

Using the tuple() method to make a tuple:

In [9]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

TypeError: 'str' object is not callable

# Tuple Methods

Method	            Description

count()	            Returns the number of times a specified value occurs in a tuple
index()	            Searches the tuple for a specified value and returns the position of where it was found