# 4.For Loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set, etc. 

* Syntax  
      for val in sequence:  
       #statement(s)
  
  Here, val accesses each item of the sequence on each iteration. The loop continues until we reach the last item in the sequence.

ed}

In [4]:
for i in range(4):
    print(i)

0
1
2
3

In [2]:
names = ["Utkarsha", "Snehal", "Nisha", "Sunayana"]
for x in names:
  print(x)

Utkarsha
Snehal
Nisha
Sunayana

In [3]:
language = 'Python'
for char in language:
    print(char)

P
y
t
h
o
n

In [5]:
for x in range(5, 10):
  print(x)

5
6
7
8
9

In [7]:
for x in range(5, 50, 4):
  print(x)

5
9
13
17
21
25
29
33
37
41
45
49

In [9]:
coin = ["H","T"]
die = [1,2,3,4,5,6]

for x in coin:
  for y in die:
    print(x, y)

H 1
H 2
H 3
H 4
H 5
H 6
T 1
T 2
T 3
T 4
T 5
T 6

In [10]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [11]:
# outer loop 
for i in range(2):
    # inner loop
    for j in range(2): 
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1

In [15]:
Name= "Utkarsha"
for char in Name:
  print(char)

U
t
k
a
r
s
h
a

In [17]:
Numbers = [90,95,92,93,94,91,98]
for x in Numbers:
  print(x)

90
95
92
93
94
91
98